<h1>HELLO</h1>
<p>Would you like to return something?</p>
<%= link_to "Click Here", new_ticket_path %>

<p>Do you need a new label?</p>
<%= link_to "Click Here", new_label_path %>

<p>Set a pick up time:</p>
<%= link_to "Click Here", new_pickups_path %>