<div class='container'>
  <%= form_for @ticket, url: {action: "create"}, class: 'form-control' do |f| %>

  <%= f.text_area :description, class: "desc-input new-post-text form-control", placeholder: "Description"%>

  <%= f.text_area :email, class: "desc-input new-post-text form-control", placeholder: "Email to contact you"%>

  <%= f.submit "Return", class: "create-button" %>
 <% end %>
</div>