<div class='container'>
  <%= form_for @ticket, url: {action: "create"}, class: '' do |f| %>

  <%= f.text_field :description, class: "", placeholder: "Description"%>

  <%= f.email_field :email, class: "", placeholder: "Email to contact you"%>

  <%= f.submit "Return", class: "create-button" %>
 <% end %>
</div>